@media only screen and (min-width: 64rem) {
    .hambutton {
        display: none;
    }

    .headercontainer {
        display: flex;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        display: flex;
    }

    .navbar ul {
        display: flex;
    }


    header ul {
        background-color: transparent;
    }

    header li {
        list-style: none;
        font-size: 1rem;
    }

    header a {
        display: flex;
        padding: 12px;
        border: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-container {
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }

    .comp-spotlight img {
        width: 35%;
        height: auto;
    }

    .comp-spotlight div {
        text-align: left;
    }

    .joinMain {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #interestCard {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #interestCard div button {
        width: 70%;
    }

    #interestCard div img:hover {
        box-shadow:  0px 10px 30px rgb(0, 0, 0);
    }
}