@media only screen and (min-width: 64rem) {

    main {
        max-width: 1250px;
        margin: 0 auto;
    }

    #ham-button {
        display: none;
    }

    header {
        background-color: var(--main-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #navi {
        display: flex;
        justify-content: center
    }

    #navi ul {
        display: flex;
    }

    #navi a {
        display: flex;
        padding: 12px;
        border: none;
    }

    #navi a:hover {
        background-color: transparent;
        color: rgb(0, 0, 0);
    }

    .homeMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        margin-bottom: 2rem;
    }

    .eventCards div {
        width: 80%;
    }

    .about-container img {
        width: 90%;
        margin-left: 2rem;
        margin-top: 0;
        box-shadow: 0 0 15px var(--accent-color-one);
    }

    #eventDialogContainer {
        margin: auto;
        width: 50%;
    }

    .links {
        border-bottom: none;
    }

    .weatherContainer {
        border-top: 1px solid var(--accent-color-one);
    }

    #aboutCard section {
        width: 70%;
        margin-left: 2rem;
    }

    .about-main {
        padding-bottom: 2rem;
    }
}